[Unit]
Description=FISHR App Server
After=network.target

[Service]
Type=simple
User=umbrel
WorkingDirectory=/home/umbrel/umbrel/external/fishr-app
ExecStart=/usr/bin/python3 server.py
Restart=always

[Install]
WantedBy=multi-user.target
